
    .register-box{
        width: 50% !important;
            } 

@media screen and (max-width:768px) {
    .register-box{
width: 90% !important;
    } 
    .w-50{
        width: 90% !important;
    }
}