
.overlay{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
}
.open{
    display: flex;
}
.modal-wrapper{
    position: relative;
    width: 50%;
    height: auto;
    background-color: #fff;
    padding: 30px;
}
.modal-header{
    margin-bottom: 20px;
}
.modal-button{
    position: absolute;
    top: 0;
    right: 0;
}
